body {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

#studyTitle {
  font-size: 24px ;
  font-weight: bold;
}

#progressBar {
  min-height: 20px;
}

#responseBlock {
  font-size: 18px ;
}

#markdown, #react-component, #website, #vega, #video, #image {
  font-size: 24px ;
}

.mantine-Text-root {
  font-size: 22px;
}