nav {
    background: var(--mantine-color-blue-light);
    color: var(--mantine-color-blue-light-color);
}

.studyTitle {
    font-size: 18px;
}

.progressBar {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.progressBar .mantine-Progress-section {
    background-color: var(--mantine-color-green-filled);
}

.helpModal p {
    color: var(--mantine-color-dimmed);
    font-style: italic;
    font-size: 24px;
}

.response {
    background-color: var(--mantine-color-default);
    color: var(--mantine-color-text);
    border: 1px solid var(--mantine-color-default-border);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
