# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.prettierrc
/test-results/
/playwright-report/
/playwright/.cache/

docs/
docsLibraries/

public/__revisit-widget
src/public/__revisit-widget

supabase/volumes/db/data.bak.*
supabase/volumes/db/data_migration/
supabase/volumes/db/pg17_upgrade_bin_*.tar.gz
supabase/volumes/db/pgsodium_root.key.bak.*
supabase/.env.old
/supabase-migration-backup/
/supabase/volumes/storage.minio-backup/

coverage/
