* {
    /* color: #333; */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
    margin: 0px;
    /* width: 90%; */
}

#trialBar{
    background-color:#fac667;
}

.helpIcon{
    cursor:pointer;
}

.progressBar{
    padding:10px;
    opacity:.7
}

.instructions{
    font-weight:bold;
    color:#1b5486;

}

.shepherd-title{
    font-weight:bold !important;
    font-size:20px !important;
    color:#1b5486 !important;
}
.shepherd-modal-is-visible .shepherd-modal-overlay-container {
    opacity:.35!important;
}    

div.tooltip {
    position: absolute;
    color:black;
    text-align: center;
    font-size:13px;
    width: 100px;
    border-radius: 5px;
    padding: 2px;
    background: white;
    border: 0px;
    pointer-events: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    }

#targetSize{
    width:1920px;
    height:1080px;
    /* width:1920px; */
    /* height:1080px; */
}

#visPanel{
    height:1060px;
    overflow-y:scroll;
}


#ageDiv{
    width:150px;
}
#easyLabel{
    padding-left:0px;
}

.message-header p, .message-body, .hint{
    white-space: normal;
}

.selectBox.selected{
    fill:rgb(255, 111, 0);
    
}

.input.searchInput {
    width:40% !important;
}

.taskMenu{
    height:300px;
    overflow-y:scroll;
}

.taskMenu .button, #codeBox .button, #submitFeedback{
    padding:10px 10px;
    color:white;
    background-color:#4285f4;
}

.taskShortcut.currentTask{
    padding:10px 10px;
    color:white;
    background-color:#244d90;
}

#hardLabel{
    padding-left:190px;
}

#easyHardRating{
    padding:0px 5px;
}

#taskArea .card-header-title{
    display:block
}

.task{
    font-size:30px;
}

.answer{
    font-size:25px;
}


#taskArea .taskCard, #taskArea .answerHeader{
    background-color:#4285f4;
}

#taskArea .taskCard .card-header-title, .answerHeader .card-header-title{
    color:white;
}

.taskCard, .answerHeader{
    padding:10px 10px;
    font-size:20px;
}

#clear-selection{
    width:200px;
}


#submitButton, #searchButton{
    color:white;
    background-color:#4285f4;
}

#nextTrialTask{

    /* display:none; */
    color:white;
    background-color: #787878;
    border-width:0px;


}

.modalStartTrials .modal-card, .modalStartStudy .modal-card{
    width: calc(100vh - 100px);
}

.hint{
    color:rgb(50, 50, 50);
    font-size:14px;
    display:block;
}

.correctMsg{
    color:white;
    /* font-style:italic; */
    font-size:23px;
    /* display:none; */
}

#feedbackCard{
    background-color:#fac667;
    font-size: 20px;
    font-weight: 900;
    display:none;

}
#clear-selection{
    background-color:#898989;
}

.attribute{
    font-weight:bold;
    color:#f7e671;
}


#start-trials{
    color:white;
    background-color:#898989;
    width:100%;
}

.clusterSelected .nestedEdges{
    fill:#ff6a00bf;
}

.taskCard .errorMsg{
    margin-bottom:0px;
    display:none;
}

#submitButton[disabled], #clear-selection[disabled]{
    color:#505050;
    background-color:lightgrey;
}

.errorMsg{
    color:rgb(211, 5, 5);
    font-style:italic;
}

/* .correctMsg{
    color:#4285f4;
    font-style:italic;
    display:none;
} */

#submitSuccessful{
    color:#4285f4;
    font-weight:bold;
}

#nextTask{
    margin:10px 0px;
    padding:10px;
    color:white;
    background-color:#4285f4;
    font-size:18px;
    font-weight:bold;
}




#experimentr {
    margin: 4em auto 1em auto;
    width: 1200px;
}


#landingPage {
    margin: 4em auto 1em auto;
    width: 1400px;
}

#control {
    margin-top: 1em;
}

#next-button {
    float: right;
}

.placeholder {
    color: #7A378B;
    font-weight: bold;
    text-decoration: underline;
}


#workerId{
    width:60%
}
