.chartWrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  width: 250px;
  border: 2px solid #222;
  pointer-events: none;
  font-size: 0.75rem;
  background: #fff;
  padding: 0.5rem;
  z-index: 1000;
}

.chartWrapper.searching {
  .bubble {
    opacity: 0.2;
  }
}

.bubble {
  opacity: 1;
}

.bubbleSelected {
  opacity: 1 !important;
}
