/**
* This is a stylesheet for components.
* 
**/

#markdown {
  background: lightblue;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

#markdown code {
  color: navy;
}

