.badge {
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 6px;
  &:hover {
    box-shadow: 0 0 0 2px var(--mantine-color-blue-7);
  }
}

.sourceItem {
  position: relative;
}

.sourceItemBadge {
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 6px;
  margin-right: 2px;
  vertical-align: middle;
}

.splitter {
  font-family: inherit;
  display: inline;
}

.splitWord {
  border-right: 4px solid transparent;
}

.splitWord:hover {
  border-right: 4px solid var(--mantine-color-blue-5);
}

.splitWordActive {
  border-right: 4px solid var(--mantine-color-blue-5);
}

/* .splitWord:hover .splitter {
  background: var(--mantine-color-blue-5);
}

.splitWordActive .splitter {
  background: var(--mantine-color-blue-5);
} */
