.badge {
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 6px;
  &:hover {
    box-shadow: 0 0 0 2px var(--mantine-color-blue-7);
  }
}

.sourceItem {
  position: relative;
}

.sourceItemBadge {
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 6px;
  margin-right: 2px;
  vertical-align: middle;
}

.sourceContextPopup {
  position: absolute;
  z-index: var(--mantine-z-index-popover);
  transform: translate(20px, 10%);
  background: #fff;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: calc(100% - 100px);
  margin-left: 20px;
  margin-right: 20px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
}

.textHighlight {
  position: absolute;
  background: var(--mantine-color-blue-2);
  border-radius: 0px;
  padding: 0 10px;
}
