.fixDisabled {

  &:disabled,
  &[data-disabled] {
    background-color: var(--input-bg) !important;
    color: var(--input-color) !important;
    opacity: 1 !important;
  }
}

.standardInputWidth {
  width: 100%;
  max-width: 28rem;
}
